
export(BW2stagePPS , BW2stagePPSe , BW2stageSRS ,
 BW3stagePPS , BW3stagePPSe , dub, clusOpt2 ,
 clusOpt2fixedPSU , clusOpt3 , clusOpt3fixedPSU ,
 CVcalc2, CVcalc3, 
 gamEst , gammaFit , HMT, nCont , nDomain, nDep2sam , nLogOdds , 
 NRFUopt, nProp , nProp2sam , nPropMoe ,
 nWilson , strAlloc , wtdvar)
